extends layout.pug

block header
    h1 Ankieta 
    
block content
    h2 Witamy w naszej ankiecie!

    unless sessionType === 'online'
        p Jesteś niezalogowany, dlatego wyniki ankiety zostaną zapisane w lokalnej bazie danych

